<ion-view>
    <ion-nav-buttons side="left"></ion-nav-buttons>

    <ion-nav-title>{{add.title}}</ion-nav-title>
    <ion-content class="has-header">
        <div class="list card">
            <div class="item">
                <img class="full-image" ng-src="{{add.image}}">
            </div>
            <div class="list-card">
                <div class="item-body">
                    <h2> {{add.title}}</h2>
                    <h1>Sale Price: {{add.dPrice}}  {{add.oPrice}}</h1>
                    <p>{{add.oPrice}}</p>
                    <p>{{add.description}}</p>
                    <h4>Location: {{add.location}}</h4>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
