<ion-view view-title="Beacon Status">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <a class = "list card animate-if" ng-if="showAd == true">
            <a class="item item-icon-left">
                <i class="icon ion-wifi"></i>
                Beacon Has been detected
            </a>
            <a class="item item-icon-left bar-balanced">
                <i class="icon ion-connection-bars"></i>
                Beacon is: {{beaconState}}
            </a>
            <a class="item item-icon-left" ng-if="beaconState == 'Immediate'">
                <i class="icon ion-card"></i>
                Right on the money!
            </a>
            <a class="item item-icon-left" ng-if="beaconState == 'Nearby'">
                <i class="icon ion-ios-cart"></i>
                Getting Closer
            </a>
            <a class="item item-icon-left" ng-if="beaconState == 'far away'">
                <i class="icon ion-ios-pulse-strong"></i>
                Beacon signal is weak
            </a>
        </a>
    </ion-content>
</ion-view>
